<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Här hittar du information om speedcubing (snabblösning) och svenska tävlingar. ">
    <meta name="keywords" content="Rubik's Cube, Rubiks Kub, Kub, Kuben, Speedcubing, Snabblösning, SveKub, Tävling, Tävlingar, Svenska rekord">
    <meta name="author" content="SveKub">
    <meta name="google-site-verification" content="xkWQYotq7im08G_lgRFwDUZlzSXZ-3HMeDkC-xnCB6Y" />
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link href="{{ "/img/Svekublogo.ico" | prepend: site.baseurl }}" rel="icon" type="image/vnd.microsoft.icon">
    <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/cubing-icons.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/svekub.css" | prepend: site.baseurl }}" rel="stylesheet">
  </head>
